{% extends 'layout.html' %}

{% block body %}
<table class="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Number of Rations</th>
        <th>Combat Role</th>
    </tr>
    <tbody>
    {% for item in jobs %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
    </tr>
    {% endfor %}
    </table>
    <div>
        <form method="POST" id="addJob">
            <legend><strong>Add Job</strong></legend>
                <fieldset class="fields">
                    <label> Title </label> <input type="text" name="title">
                    <label> Number of Rations </label> <input type="text" name="num_rations">
                    <label> Combat Role </label> <select name="combat_role">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                        </select>
                </fieldset>
                    <input class="btn" type="submit" id="addJob" value="Add Job">
        </form>
    </div>
{% endblock%}