{% extends 'layout.html' %}

{% block body %}
<table class="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Item</th>
        <th>Item Quantity</th>
    </tr>
    <tbody>
    {% for item in orc_items %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
    </tr>
    {% endfor %}
    </table>
    <div>
        <form method="POST" id="addOrcItem">
            <legend><strong>Give Item To A Deserving Orc</strong></legend>
                <fieldset class="fields">
                    <label> Orc </label> <select name="orc_id">
                        <option value="0">&nbsp;</option>
                        {% for orc in orcs %}
                        <option value="{{orc[0]}}">{{orc[1]}} {{orc[2]}}</option>
                        {% endfor %}
                        </select>
                    <label> Item </label> <select name="item_id">
                        <option value="">&nbsp;</option>
                        {% for item in items %}
                        <option value="{{item[0]}}">{{item[1]}}</option>
                        {% endfor %}
                        </select>
                    <label> Item Quantity </label> <input type="text" name="item_quantity">
                </fieldset>
                    <input class="btn" type="submit" id="addItem" value="Bequeath Item(s)">
        </form>
    </div>
    <div id="delete" style="display: block>
        <form method="POST" id="deleteOrcHasItem">
            <legend><strong>Orc Is No Longer Deserving Of This Item</strong></legend>
                <fieldset class="fields">
                <p>Take it?</p>
                <input type="hidden" name="orc_item_id" id="deleteorcitemID" value="1">
                <label><strong>ID: </strong></label> 1
                    <label><strong>Name</strong></label> Orgrim Doomhammer
                    <label><strong>Item</strong></label> Warhammer
            </fieldset>
            <input class="btn" type="submit" id="DeleteOrcItem" value="Take It">
        </form>
    </div>
{% endblock%}