{% extends 'layout.html' %}

{% block body %}
<div>
    <form method="post" id="Search" action="" style="margin:auto;max-width=600px">
        <input type="text" placeholder="Search for an Orc by name" name="orc_name">
        <button type="submit" name="Search"><i class="fa fa-search"></i>Search</button>
    </form>
</div>
<table class="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Height (in)</th>
        <th>Weight (lb)</th>
        <th>Birth Date</th>
        <th>Combat Ready</th>
        <th>Conscription Date</th>
        <th>Salary (gold coins)</th>
        <th>Vehicle</th>
        <th>Job</th>
    </tr>
    <tbody>
    {% for item in orcs %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
        <td>{{item[8]}}</td>
        <td>{{item[9]}}</td>
        <td>{{item[10]}}</td>
        <td><a href="edit_orc/{{item[0]}}" class="btn btn-default">Edit</a></td>
        <td><a href="delete_orc/{{item[0]}}" class="btn btn-default">Delete</a></td>
    </tr>
    {% endfor %}
    </table>
    <div id="add">
        <form method="POST" id="addOrc">
            <legend><strong>Add Orc</strong></legend>
                <fieldset class="fields">
                    <label> First Name </label> <input type="text" name="first_name">
                    <label> Last Name </label> <input type="text" name="last_name">
                    <label> Height (in) </label> <input type="text" name="height_inches">
                    <label> Weight (lb) </label> <input type="text" name="weight_lb">
                    <label> Birth Date </label> <input type="text" name="birth_date">
                    <label> Combat Ready </label> <input type="text" name="combat_ready">
                    <label> Conscription Date </label> <input type="text" name="conscription_date">
                    <label> Salary (gold coins) </label> <input type="text" name="salary_gold_coins">
                    <label> Vehicle </label> <select name="vehicle_id">
                        <option value="">&nbsp;</option>
                        {% for vehicle in vehicles %}
                        <option value="{{ vehicle[0] }}">{{ vehicle[1] }}</option>
                        {% endfor %}
                        </select>
                    <label> Job </label> <select name="job_id">
                        <option value="">&nbsp;</option>
                        {% for job in jobs %}
                        <option value="{{ job[0] }}">{{ job[1] }}</option>
                        {% endfor %}
                        </select>
                </fieldset>
                    <input class="btn" type="submit" id="addSaveOrc" value="Add Orc">
        </form>
    </div>
    <div id="update">
        <form method="POST" id="updateOrc">
            <legend><strong>Update Orc</strong></legend>
                <fieldset class="fields">
                <input type="hidden" name="orc_id" id="updateorcID" value="1">
                <label> ID: </label> 1    
                    <label> First Name </label> <input type="text" name="first_name" value="Orgrim">
                    <label> Last Name </label> <input type="text" name="last_name" value="Warhammer">
                    <label> Height (in) </label> <input type="text" name="height_inches" value=72>
                    <label> Weight (lb) </label> <input type="text" name="weight_lb" value=265>
                    <label> Birth Date </label> <input type="text" name="birth_date" value="1964-12-25">
                    <label> Combat Ready </label> <input type="text" name="combat_ready" value=1>
                    <label> Conscription Date </label> <input type="text" name="conscription_date" value="1982-04-20">
                    <label> Salary (gold coins) </label> <input type="text" name="salary_gold_coins" value=12323490>
                    <label> Vehicle </label> <select name="vehicle_id" >
                        <option value="0">&nbsp;</option>
                        {% for vehicle in vehicles %}
                        <option value="{{ vehicle[0] }}">{{ vehicle[1] }}</option>
                        {% endfor %}
                        </select>
                    <label> Job </label> <select name="job_id">
                        <option value="0">&nbsp;</option>
                        {% for job in jobs %}
                        <option value="{{ job[0] }}">{{ job[1] }}</option>
                        {% endfor %}
                        </select>
                </fieldset>
                    <input class="btn" type="submit" id="updateSaveOrc" value="Update Orc">
        </form>
    </div>
    <div id="delete" style="display: block">
        <form method="DELETE" id="deleteOrc">
            <legend><strong>Delete Orc</strong></legend>
                <fieldset class="fields">
                <p>WAAAGH?</p>
                <input type="hidden" name="orc_id" id="deleteorcID" value="1">
                <label><strong>ID: </strong></label> 1
                    <label><strong>Name</strong></label> Orgrim Warhammer
            </fieldset>
            <input class="btn" type="submit" id="DeleteOrc" value="Delete Orc">
        </form>
    </div>
{% endblock%}