{% extends 'layout.html' %}

{% block body %}
<div>
    <form method="post" id="Search" action="" style="margin:auto;max-width=600px">
        <input type="text" placeholder="Search for a Skill" name="skill_name">
        <button type="submit" name="Search"><i class="fa fa-search"></i>Search</button>
    </form>
</div>
<table class="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Skill Name</th>
    </tr>
    <tbody>
    {% for item in skills %}
    <tr>
        <td>{{item['skill_id']}}</td>
        <td>{{item['skill_name']}}</td>
        <td><a href="edit_orc/{{item[0]}}" class="btn btn-default">Edit</a></td>
        <td><a href="delete_orc/{{item[0]}}" class="btn btn-default">Delete</a></td>
    </tr>
    {% endfor %}
    </table>
    <div>
        <form method="POST" id="addSkill">
            <legend><strong>Add Skill</strong></legend>
                <fieldset class="fields">
                    <label> Name </label> <input type="text" name"skill_name">
                </fieldset>
                    <input class="btn" type="submit" id="addSkill" value="Add Skill">
        </form>
    </div>
{% endblock%}