{% extends 'layout.html' %}

{% block body %}
<table class="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Vehicle Type</th>
        <th>Number of Spikes</th>
        <th>Color</th>
        <th>Manufacture Year</th>
    </tr>
    <tbody>
    {% for item in vehicles %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
    </tr>
    {% endfor %}
    </table>
    <div>
        <form method="POST" id="addVehicle">
            <legend><strong>Add Vehicle</strong></legend>
                <fieldset class="fields">
                    <label> Vehicle Type </label> <input type="text" name="vehicle_type">
                    <label> Number of Spikes </label> <input type="text" name="num_spikes">
                    <label> Color </label> <input type="text" name="color">
                    <label> Manufacture Year </label> <input type="text" name="manufacture_year">
                </fieldset>
                    <input class="btn" type="submit" id="addVehicle" value="Add Vehicle">
        </form>
    </div>
{% endblock%}